<div
  class="smart-form-toggle-field"
  [formGroup]="formGroup"
  [matTooltip]="formFieldModel.tooltip"
  [matTooltipDisabled]="formFieldModel.hideTooltip"
  [matTooltipPosition]="formFieldModel.tooltipPosition"
>
  <mat-label> {{ inputTitle }}</mat-label>
  <mat-button-toggle-group
    [multiple]="multipleSelection"
    [formControlName]="formControlName"
    (change)="onChange($event)"
  >
    <mat-button-toggle *ngFor="let toggle of toggles" [value]="toggle.value">
      {{ toggle.label }}
    </mat-button-toggle>
  </mat-button-toggle-group>

  <mat-error>
    {{ formGroup.getFormControlErrors(formControlName, inputTitle) }}
  </mat-error>

  <!-- Further Errors -->
  <ng-content></ng-content>
</div>
