<mat-form-field
  class="smart-form-select-field"
  [formGroup]="formGroup"
  [matTooltip]="formFieldModel.tooltip"
  [matTooltipDisabled]="formFieldModel.hideTooltip"
  [matTooltipPosition]="formFieldModel.tooltipPosition"
>
  <mat-label> {{ inputTitle }}</mat-label>
  <input
    matInput
    [formControlName]="formControlName"
    [matAutocomplete]="auto"
    [placeholder]="formFieldModel.placeholder"
  />

  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{ option }}
    </mat-option>
  </mat-autocomplete>
  <mat-error>
    {{ formGroup.getFormControlErrors(formControlName, inputTitle) }}
  </mat-error>

  <!-- Further Errors -->
  <ng-content></ng-content>
</mat-form-field>
