<div class="smart-navbar-row" @transitionFadeIn>
  <!-- Address -->
  <div class="smart-navbar-col menu-section">
    <h3 class="smart-navbar-section-title">Location</h3>
    <span>123 Sesame Street, Springfield, NY</span>
  </div>
  <!-- Phone -->
  <div class="smart-navbar-col menu-section">
    <h3 class="smart-navbar-section-title">Phone</h3>
    <a href="tel:123-4567-891">123-4567-891</a>
  </div>
  <!-- Email -->
  <div class="smart-navbar-col menu-section">
    <h3 class="smart-navbar-section-title">Email</h3>
    <a href="mailto:elmo@sesamestreet.co.uk">elmo@sesamestreet.co.uk</a>
  </div>
</div>
