.smart-form-radio-field-vertical {
   display: flex; 
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
}

.smart-form-radio-field-horizontal {
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
 }