<mat-toolbar
  class="smart-navbar-container"
  (mouseleave)="onMouseLeaveBar()"
  [@toggleNavbar]="isExpanded ? 'expanded' : 'collapsed'"
>
  <!-- Buttons -->
  <div class="smart-navbar-main-row">
    <img class="smart-navbar-logo" [src]="logoImagePath" />
    <button
      class="smart-navbar-label"
      mat-button
      *ngFor="let item of content"
      (mouseenter)="onMouseEnteredItem(item)"
      (click)="onItemClicked(item)"
    >
      {{ item.label }}
    </button>
    <div class="smart-navbar-commands">
      <ng-content></ng-content>
    </div>
  </div>
  <!-- Expanded Content -->
  <div class="smart-navbar-content" @toggleNavbar>
    <ng-template
      *ngIf="!!selectedExpandableContent"
      [cdkPortalOutlet]="selectedExpandableContent.portalContent"
    ></ng-template>
  </div>
</mat-toolbar>
